# Dependencies
node_modules
.pnp
.pnp.js

# Testing & Coverage
coverage
.nyc_output

# Production Builds
dist
build
.next
out

# Environment variables & secrets (NEVER COMMIT)
.env
.env.*
!.env.example
*.pem
*.key

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor & OS files
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
